# Ignore everything
*
/*/

# Allow these specific files/folders
!.gitignore
!.zshrc
!.env.example

# Allow the .config folder and its contents
!.config/
!.config/hypr/
!.config/hypr/** 
!.config/waybar/
!.config/waybar/** 

